.navbar{
        position: fixed;
        background-color: #fff;
        height: 60px;
        width: 100%;
        bottom: 0px;
        display: flex;
        justify-content: space-between;
        border-top: 2px solid #f6f4f5;
        z-index: 2;
        
}

.navbar .navbar-item{
        color: #b8b8b8;
        font-size: 20px;
        text-align: center;
        width: 60px;
        height: 60px;
        line-height: 60px;
        margin: 0px 10px 0px 10px;

}

.navbar .active{
color: #4bdcb3;
font-size: 35px;
}

