.register{
        width: 100%;
        height: 100vh;
        background-image: url("/assets/bg.png");
        background-repeat: no-repeat;
        background-size: 100%;
}

.register .container{
        width: 80%;
        height: 100vh;
        margin-left: 10%;
        text-align: center;
}

.register .container .logo{
        width: 120px;
        margin-top: 30px;
        margin-bottom: 20px;
        opacity: 1;
        transition: opacity 1s;
}

.register input{
        outline: none;
        width: 70%;
        height: 30px;
        font-size: 15px;
        padding: 5px 10px 5px 10px;
        margin: 10px;
        border: 2px solid lightgray;
        border-radius: 5px;
}

.register input:focus{
        border-color: #4bdcb3;
}