<div class="header">
Discover
</div>

<div class="feed">
  <div class="feed-item">
    <img class="avatar" src="assets/man.png" alt="" srcset="">
    <div class="username">dnzyslrmk</div>
    <div class="hometown">Kars / Turkey</div>
    <img class="photo" src="assets/photo1.jpg" alt="" srcset="">
    <div class="title">Eifel Tower is awesome! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, omnis!</div>
    <div class="footer">
      <i class="fas fa-heart"></i>
      <div class="likes">45</div>
      <i class="fas fa-location-arrow"><span> 3km away</span></i>      
    </div>
  </div>

    <div class="feed-item">
      <img class="avatar" src="assets/man2.png" alt="" srcset="">
      <div class="username">michealschumaher</div>
      <div class="hometown">Berlin / Germany</div>
      <img class="photo" src="assets/photo2.jpg" alt="" srcset="">
      <div class="title">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora, sunt!</div>
      <div class="footer">
        <i class="fas fa-heart"></i>
        <div class="likes">35</div>
        <i class="fas fa-location-arrow"><span> 12km away</span></i>      
      </div>
    </div>

</div>