<div class="header">
Discover
</div>

<div class="feed">
  <div class="feed-item">
    <img class="avatar" src="assets/man.png" alt="" srcset="">
    <div class="username">dnzyslrmk</div>
    <div class="hometown">Kars / Turkey</div>
    <img class="photo" src="assets/photo1.jpg" alt="" srcset="">
    <div class="footer">asd</div>
  </div>

<div class="feed-item">
  <img class="avatar" src="assets/man.png" alt="" srcset="">
  <div class="username">dnzyslrmk</div>
  <div class="hometown">Sakarya / Turkey</div>
  <img class="photo" src="assets/photo1.jpg" alt="" srcset="">
</div>

<div class="feed-item">
  <img class="avatar" src="assets/man.png" alt="" srcset="">
  <div class="username">dnzyslrmk</div>
  <div class="hometown">Sakarya / Turkey</div>
  <img class="photo" src="assets/photo1.jpg" alt="" srcset="">
</div>

<div class="feed-item">
  <img class="avatar" src="assets/man.png" alt="" srcset="">
  <div class="username">dnzyslrmk</div>
  <div class="hometown">Sakarya / Turkey</div>
  <img class="photo" src="assets/photo1.jpg" alt="" srcset="">
</div>

</div>